
@import "nav.css";
@import "footer.css";


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  body{
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0;
    min-height:100vh;
    justify-content:space-between;
    /* background-color: #eeebc5; */
    } 



        



    .container{
        width:100%;
        height: 85%;
        display: flex;
        padding:10px 30px 20px 30px;
        /* align-items: center; */
        justify-content: center;
        
      }
      .swiper{
         width:100%;
         
         /* height: fit-content; */
         height : 100%; 
      }
      .swiper-slide img{
         width: 100%;
      }
      .swipper-wrapper{
        
        width: 100%;
        height: 100%;
        display: flex;
      }
      .img_shape{
         min-width: 100px;
         min-height: 100px;
         max-width: 100vw;
         max-height: 100vh;
         display: flex;
         
      }
      