@import "nav.css";
@import "footer.css";

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    margin:0px;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    background-color: #DBF3FC;
}


.insert_button{
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    vertical-align: bottom;
    margin-right: 2%;
    font-size: 170%;
    color: #b90bad;

}

.submit_button{
    margin: 8px 45%;
    width: 10%;
    font-size: 15px;
}
.submit_button:hover{
    cursor: pointer;
    background-color: #722020;
}

.list{
    /* width:100%; */
    display: flex;

    justify-content: center;
    align-items: center;
    /* margin: 2% auto; */
}
.details_table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_table table{
    width: 80%;
    border-collapse: collapse;
}


.name{
    font-weight: bold;
    font-size: 20pt;
    min-width: 10px;
    max-width: 200px;
}

td
{
    font-weight: 500;
    font-size: 15pt;
    min-width: 80px;
    max-width: 150px;
}


.details-1 {
    display: flex;
    /* align-content: center; */
    /* justify-content: center; */

    margin-left: 30%;
}
.profile_info {
    margin-top: 5%;
}

.profile_pic{

    margin-right: 4%;

}

.details_table{
    margin-left: 5%;
    align-self: center;
}


.details_table thead td{
    font-weight: bold;
}


.details_table thead,tr,td{
    margin-left: 5%;
    align-self: center;
    border: 1px solid black;
    border-collapse: collapse;

}

/* .details_table tr{
 margin-left: 5%;
 align-self: center;
} */

.details_table td{
    /* margin-left: 5%;
    align-self: center; */
    text-align: center;
    max-width: 400px;
}


.details-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.attribute {
    min-width: 200px;
    max-width: 300px;
    /* padding: 10% ; */

    padding: 10px;
}

.value{
    max-width: 300px;
    padding: 10px;
}

.details-1 table{
    min-width: 150%;
    max-width: 270%;
}