@import "nav.css";
@import "footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #DBF3FC;
}


.insert_button {
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    vertical-align: bottom;
    margin-right: 2%;
    font-size: 170%;
    color: #b90bad;

}

.submit_button {
    border: 1px solid black;
    border-radius: 10px;
    margin: 8px 45%;
    width: 10%;
    font-size: 15px;
    padding: 2px;
    background-color: #0b5f9b;
}

.submit_button:hover {
   
    cursor: pointer;
    background-color: #0b5f9b;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.details_table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_table table {
    width: 80%;
    border-collapse: collapse;
}


.name {
    font-weight: bold;
    font-size: 20pt;
    min-width: 10px;
    max-width: 200px;
}

/* td {
    font-weight: 500;
    font-size: 15pt;
    min-width: 80px;
    max-width: 150px;
} */


.details_table {
    
    align-self: center;
}


.details_table thead td {
    font-weight: bold;
}


.details_table thead,
tr,
td {
   
    align-self: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15pt;

}


.details_table td {
    text-align: center;
    padding: 1%;
}


/* .details-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.attribute {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
}

.value {
    max-width: 300px;
    padding: 10px;
} */

/* .details-1 table {
    min-width: 150%;
    max-width: 270%;
} */

input,
select {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, .4);
    font-size: 12pt;

}

a {
    color: inherit;
    text-decoration: inherit;

}

.highlight:hover {
    
    color: blue !important ;
}


.button:hover {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(39, 130, 209);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}