nav {
    border-bottom: 2px solid black;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

.item:hover {
    color: black;
}


.item {

    font-size: 17pt;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 10px;
}



.nav_bar {
    width: 100%;
    margin: 0 auto;
    margin-top: 0%;
    height: max-content;
    color: azure;
    background-color: #01416F;

}

.logo_img {
    min-width: 16%;
    max-width: 100px;
    height: same as width;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;

}

.img_div {
    margin-left: 2.5%;
    display: flex;
    /* min-width: 10%;
    max-width: 20%;
    min-height: 10%;
    max-width: 10%; */

}

.nav_buttons {
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    vertical-align: bottom;
    margin-right: 2%;
}

.dropbtn {
    font-size: 17pt;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 10px;
}

.dropdown:hover {
    background-color: #072d49;
    background: #072d49;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    border-radius: 5px;
}

.dropdown-content {
    border-radius: 5px;
    margin-top: -5px;
    display: none;
    position: absolute;
    background-color: #072d49;
    font-size: 10pt;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 12px;
   
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    /* margin-top: 2px; */


    margin-bottom: 2px;
    display: flex;
    max-height: 500px;
    overflow-y: auto;
    /* overflow-x: hidden; */
    /* padding: 0px 38px 0px 38px; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: right;
}

.dropdown:hover .dropdown-content::-webkit-scrollbar {
    display: block;
}

.first {
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 5px;
}

.dropdown-content a {
    /* text-align: center; */
}

.dropdown-content a:hover {
    /* text-align: center; */
    color: #115a8e!important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}