
<footer th:fragment="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="foot-content">
        <h2>About Our School</h2>
        <p>A community with high expectation and high academic achievement</p>
        <h3>Reach Us</h3>
        <ul class="social_links">
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-twitter"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-github"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-google-plus"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-youtube"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>copyright &copy;2022 RNC designed by anime gang</p>
    </div>
</footer>