
<nav class="nav_bar" th:fragment="navbar">
    <div class="nav_content">
        <div class="img_div">
            <div>
                <img th:src="@{/images/logo.png}" alt="logo" class="logo_img">
            </div>
        </div>

        <div class="nav_buttons ">
            <div class="item hover-underline-animation">
                <a href="page name">My profile</a>
            </div>

            <div class="item hover-underline-animation">
                <a href="page name">More</a>
            </div>

            <div class="item hover-underline-animation">
                <a href="page name">Results List</a>
            </div>

            <div class="item hover-underline-animation">
                <a href="page name">Staff List</a>
            </div>

            <div class="item hover-underline-animation">
                <a href="page name">Student List</a>
            </div>
        </div>
    </div>

    <div class="line"></div>
</nav>