<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="switch">[[${switch}]]</div>
    <form th:if="${switch}==0" name="form1" th:action="@{/staff/list}" method="post">
        <h1>Redirecting to /staff/list</h1>
        <input type="hidden" name="message" th:value="${message}">
        <input type="hidden" name="emp_id" value="">
		<input type="hidden" name="name" value="">
        <input type="hidden" name="dept" value="">
        <input type="hidden" name="curr" value="1">
        <input type="hidden" name="limit" value="50">
    </form>
    <form th:if="${switch}==1" name="form2" th:action="@{'/staff/dept/'+${dept}}" method="post">
        <h1>Redirecting to /staff/dept/[[${dept}]]</h1>
        <input type="hidden" name="dept" th:value="${dept_name}">
        <input type="hidden" name="show" value="1">
        <input type="hidden" name="message" th:value="${message}">
    </form>
    <script>
        let switchEl = document.getElementById("switch");
        let value = switchEl.innerText;
        if (value == 0) { document.form1.submit(); }
        else { document.form2.submit(); }
    </script>
</body>

</html>