<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Redirecting to /staff/results</h1>
    <form name="form1" th:action="@{/staff/results}" method="post">
        <input name="message" th:value="${message}">
        <input type="hidden" name="emp_id" th:value='${filter.get("emp_id")}'>
        <input type="hidden" name="SRN" th:value='${filter.get("SRN")}'>
        <input type="hidden" name="class_" th:value='${filter.get("class_")}'>
        <input type="hidden" name="section" th:value='${filter.get("section")}'>
        <input type="hidden" name="course" th:value='${filter.get("course")}'>
        <input type="hidden" name="session" th:value='${filter.get("session")}'>
        <input type="hidden" name="limit" th:value='${filter.get("limit")}'>
    </form>
    <script>
        document.form1.submit();
    </script>
</body>

</html>