<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="switch">[[${switch}]]</div>
    <form th:if="${switch}==0" name="form1" th:action="@{'/staff/dept/'+${dept}}" method="post">
        <input name="message" th:value="${message}">
        <input name="show" value="1">
        <input type="submit">
    </form>
    <form th:if="${switch}==1" name="form2" th:action="@{/staff/assign}" method="post">
        <input name="emp_id" th:value="${emp_id}">
        <input name="class_" value="">
        <input name="section" value="">
        <input name="dept" th:value="${dept_name}">
        <input name="limit" value="100">
        <input name="message" th:value="${message}">
        <input type="submit">
    </form>
    <script>
        let switchEl = document.getElementById("switch");
        let value = switchEl.innerText;
        if (value == 0) { document.form1.submit(); }
        else { document.form2.submit(); }
    </script>
</body>

</html>