<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/list.css}">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <script href="/bootstrap/bootstrap.js"></script>
    <title>Assigned Teachers</title>
</head>

<body>
    <div>
        <nav th:replace="components/navbar :: navbar">Assigned Teachers</nav>
        <br>
        <h1 style="text-align:center; padding-bottom: 1%;">Assigned Teachers</h1>
        <h2 style="text-align: center; color: crimson; margin-bottom: 12px;" th:if="${message!=null}">[[${message}]] </h2>
        <br>
        <div class="content">
            <div class="list">
                <form th:action="@{/staff/assign}" method="Post">
                    <input type="text" name="emp_id" placeholder="Employee ID">
                    <select name="class_" id="St_class">
                        <option value="">Select Class</option>
                        <option th:each="cls:${class}" th:value="${cls}" th:text="${cls}"></option>
                    </select>
                    <select name="section" id="St_section">
                        <option value="">Select Section</option>
                        <option th:each="sec:${section}" th:value="${sec}" th:text="${sec}"></option>
                    </select>
                    <select name="dept">
                        <option value="">Select Department</option>
                        <option th:each="dprt:${department}" th:value="${dprt}" th:text="${dprt}"></option>
                    </select>
                    <select name="limit" id="limit" required>
                        <option value="" disabled selected hidden>Select limit</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select><br>
                    <div class="insert_button">
						<input type="submit" placeholder="Search" class="submit_button">
					</div>
                </form>
            </div>
            <div class="details_table">
                <table>
                    <thead>
                        <td>Class</td>
                        <td>Subject</td>
                        <td>Current Teacher (ID)</td>
                        <td>Current Teacher (Name)</td>
                        <td th:if="${session.authority>2}">Action</td>
                    </thead>
                    <tr th:each="asn : ${assign}">
                        <td>[[${asn.get("class_no")}]] - [[${asn.get("section_no")}]]</td>
                        <td><a class="button" th:href="@{'/staff/dept/'+${asn.get('dept_name')}}">[[${asn.get("dept_name")}]]</a></td>
                        <td>[[${asn.get("name")}]]</td>
                        <form th:action="@{/staff/assign/edit}" method="Post">
                            <input type="hidden" name="class_no" th:value='${asn.get("class_no")}'>
                            <input type="hidden" name="section_no" th:value='${asn.get("section_no")}'>
                            <input type="hidden" name="dept_name" th:value='${asn.get("dept_name")}'>
                            <input type="hidden" name="name" th:value='${asn.get("name")}'>
                            <input type="hidden" name="fil_emp_id" th:value='${filter.get("emp_id")}'>
                            <input type="hidden" name="fil_class_no" th:value='${filter.get("class_")}'>
                            <input type="hidden" name="fil_section_no" th:value='${filter.get("section")}'>
                            <input type="hidden" name="fil_dept_name" th:value='${filter.get("dept")}'>
                            <input type="hidden" name="fil_limit" th:value='${filter.get("limit")}'>
                            <td class="drop"><select name="new_emp" class="">
                                <option th:value="${asn.get('emp_id')}" selected hidden>[[${asn.get("emp_id")}]]</option>
                                <option th:each="emp:${asn.get('emps')}" th:value="${emp}" th:text="${emp}"></option>
                            </select></td>
                            <td th:if="${session.authority>2}"><input class="button" type="submit" value="Edit"></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="components/footer :: footer"></footer>

</body>



</html>