<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Staff</title>
</head>

<body>

    <nav class="nav_bar">

        <div class="nav_content">



            <div class="img_div">
                <div>
                    <img src="../static/images/logo.png" alt="logo" class="logo_img">
                </div>

                <div>

                </div>

            </div>

            <div class="nav_buttons ">

                <div class="item hover-underline-animation">
                    <!-- <button class="button" type="button">Click Me1!</button </div> -->
                    <a href="page name">Home</a>
                </div>

                <div class="item hover-underline-animation">
                    <a href="page name">My profile</a>
                </div>

                <div class="item hover-underline-animation">
                    <a href="page name">Staff Profile</a>
                </div>

                <div class="item hover-underline-animation">
                    <a href="page name">Vice president</a>
                </div>

                <div class="item hover-underline-animation">
                    <a href="page name">Vice president2</a>
                </div>

            </div>

        </div>

        <div class="line"></div>


    </nav>






    <div class="profile_info">
        <!-- div for profile image and some details  -->

        <div class="details-1">

            <div class="profile_pic">
                <!-- for image -->

                <div>

                    <img src="https://pbs.twimg.com/media/EjY_lxhUcAAqCde.jpg" alt="img">
                </div>






            </div>

            <div class="profile_details">

                <table>
                    <tr>
                        <td class="name">
                            <b> Staff name </b>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td colspan="2">
                            Emp Id
                        </td>
                        <td colspan="2">
                            2000330
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Dept
                        </td>

                        <td colspan="2">
                            CSE
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            DOB
                        </td>

                        <td colspan="2">
                            26-02-2001
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            Joining Date
                        </td>

                        <td colspan="2">
                            01/12/1998
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            Email
                        </td>

                        <td colspan="2">
                            rncchutiya@gmail.com
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Gender
                        </td>

                        <td colspan="2">
                            Male
                        </td>
                    </tr>

                </table>

            </div>

        </div>

        <div class="details-2">
            <table>
                <tr>
                    <td class="attribute">Exp Years</td>
                    <td class="value">20</td>
                </tr>
                <tr>
                    <td class="attribute">Phone no. 1</td>
                    <td class="value">92938393939</td>
                </tr>
                <tr>
                    <td class="attribute">Phone No. 2</td>
                    <td class="value">92933938838</td>
                </tr>
                <tr>
                    <td class="attribute">Street</td>
                    <td class="value">Patkhauli</td>
                </tr>
                <tr>
                    <td class="attribute">City</td>
                    <td class="value">Azmagarh</td>
                </tr>
                <tr>
                    <td class="attribute">State</td>
                    <td class="value">Uttar Pradesh</td>
                </tr>
                <tr>
                    <td class="attribute">Blood Group</td>
                    <td class="value">A+</td>
                </tr>
                <!-- <tr>
                    <td class="attribute"></td>
                    <td class="value">A+</td>
                </tr>
                <tr>
                    <td class="attribute">Blood Group</td>
                    <td class="value">A+</td>
                </tr> -->
            </table>
        </div>




    </div>

    <div>

    </div>




</body>



<footer>


    <div class="line"></div>
    <div class="foot-content">
        <h2>About Our School</h2>
        <p>A community with high expectation and high academic achievement</p>
        <h3>Reach Us</h3>
        <ul class="social_links">

            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-twitter"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-github"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-google-plus"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-youtube"></i></a></li>
            <li> <a href="https://github.com/ayushsingla43/DBMSProject"><i class="fa fa-linkedin-square"></i></a></li>

        </ul>
    </div>

    <div class="copyright">
        <p>copyright &copy;2022 RNC designed by anime gang</p>
    </div>
</footer>

</html>