<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/list.css}">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <script href="/bootstrap/bootstrap.js"></script>
    <title>Results</title>
</head>

<body>
    <div>
        <nav th:replace="components/navbar :: navbar"></nav>
        <br>
        <h1 style="text-align:center; padding-bottom: 1%;">Results</h1>
        <h2 style="text-align: center; color: crimson; margin-bottom: 12px;" th:if="${message!=null}">[[${message}]]
        </h2>
        <br>
        <div class="content">
            <div class="list">
                <form th:action="@{/staff/results}" method="Post">
                    <input type="text" id="emp_id" name="emp_id" placeholder="Teacher ID" required>
                    <input type="text" id="SRN" name="SRN" placeholder="Student Id">
                    <select name="class_" id="St_class">
                        <option value="">Select Class</option>
                        <option th:each="cls:${class}" th:value="${cls}" th:text="${cls}"></option>
                    </select>
                    <select name="section" id="St_section">
                        <option value="">Select Section</option>
                        <option th:each="sec:${section}" th:value="${sec}" th:text="${sec}"></option>
                    </select>
                    <select name="course" id="St_course" required>
                        <option value="" disabled selected hidden>Select Course</option>
                        <option th:each="crs:${course}" th:value="${crs}" th:text="${crs}"></option>
                    </select>
                    <select name="session" id="session" required>
                        <option value="" disabled selected hidden>Select Session</option>
                        <option th:each="ses:${session_nos}" th:value="${ses}" th:text="${ses}"></option>
                    </select>
                    <select name="limit" id="limit" required>
                        <option value="" disabled selected hidden>Select limit</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select><br>
                    <div class="insert_button">
                        <input type="submit" value="Search" class="submit_button">
                </form>
                <form th:if="${session.authority==4}" th:action="@{/staff/insert/session}" method="post">
                    <input type="submit" value="create session" class="submit_button">
                </form><br>
            </div>
        </div>
        <!-- <div class="insert_button">
                <form th:action="@{/staff/insert/session}" method="post">
                    <input type="submit" value="create session" class="submit_button">
                </form><br>
            </div>-->
        <div class="details_table">
            <table>
                <thead>
                    <td>Student Id</td>
                    <td>Student Name</td>
                    <td>Class</td>
                    <td>Subject</td>
                    <td>[[${css}]]</td>
                    <td th:if="${session.authority>2}">Edit</td>
                </thead>
                <div th:if="${filter.get('session')}!=''">
                    <tr th:each="stud : ${students}">
                        <td>[[${stud.get("SRN")}]]</td>
                        <td>[[${stud.get("name")}]]</td>
                        <td>[[${stud.get("class")}]]-[[${stud.get("section")}]]</td>
                        <td>[[${stud.get("course")}]]</td>
                        <form th:action="@{/staff/result/edit}" method="post" onsubmit="return confirmSubmission()">
                            <input type="hidden" name="stud_SRN" th:value='${stud.get("SRN")}'>
                            <input type="hidden" name="stud_course" th:value="${css}">
                            <input type="hidden" name="stud_session" th:value='${stud.get("session_no")}'>
                            <div th:if="${stud.get('marks')!=null}">
                                <td><input type="number" name="stud_marks" min="0" max="100"
                                        th:value="${stud.get('marks')}"></td>
                            </div>
                            <div th:if="${stud.get('marks')==null}">
                                <td><input type="number" name="stud_marks" min="0" max="100"></td>
                            </div>
                            <input type="hidden" name="fil_emp_id" th:value='${filter.get("emp_id")}'>
                            <input type="hidden" name="fil_SRN" th:value='${filter.get("SRN")}'>
                            <input type="hidden" name="fil_class" th:value='${filter.get("class_")}'>
                            <input type="hidden" name="fil_section" th:value='${filter.get("section")}'>
                            <input type="hidden" name="fil_course" th:value='${filter.get("course")}'>
                            <input type="hidden" name="fil_session" th:value='${filter.get("session")}'>
                            <input type="hidden" name="fil_limit" th:value='${filter.get("limit")}'>
                            <td th:if="${session.authority>2}"><input class="button" type="submit" value="Edit"></td>
                        </form>
                    </tr>
                </div>
                <div th:if="${filter.get('session')}==''">
                    <tr th:each="stud : ${students}">
                        <td>[[${stud.get("SRN")}]]</td>
                        <td>[[${stud.get("name")}]]</td>
                        <td>[[${stud.get("class")}]]-[[${stud.get("section")}]]</td>
                        <td>[[${stud.get("course")}]]</td>
                        <form th:action="@{/staff/result/edit}" method="post" onsubmit="return confirmSubmission()">
                            <input type="hidden" name="stud_SRN" th:value='${stud.get("SRN")}'>
                            <input type="hidden" name="stud_course" th:value='${stud.get("course")}'>
                            <input type="hidden" name="stud_session" th:value='${stud.get("session_no")}'>
                            <div th:if="${stud.get('marks')!=null}">
                                <td><input type="number" name="stud_marks" min="0" max="100"
                                        th:value="${stud.get('marks')}"></td>
                            </div>
                            <div th:if="${stud.get('marks')==null}">
                                <td><input type="number" name="stud_marks" min="0" max="100"></td>
                            </div>
                            <input type="hidden" name="fil_emp_id" value=''>
                            <input type="hidden" name="fil_SRN" value=''>
                            <input type="hidden" name="fil_class" value=''>
                            <input type="hidden" name="fil_section" value=''>
                            <input type="hidden" name="fil_course" value=''>
                            <input type="hidden" name="fil_session" value=''>
                            <input type="hidden" name="fil_limit" value=''>
                            <td th:if="${session.authority>2}"><input class="button" type="submit" value="Edit"></td>
                        </form>
                    </tr>
                </div>
            </table>
        </div>
    </div>
    </div>
    <footer th:replace="components/footer :: footer"></footer>
    <script>
        var confirmSubmission = function () {
            if (!confirm("Continue to update the marks?")) {
                return false;
            }
            return true;
        }
    </script>
</body>

</html>