<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/result.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>result</title>
</head>

<body>
    <nav th:replace="components/navbar :: navbar"></nav>
    <div class="session">

    
    <form th:action="@{'/student/results/'+${stu.getUID()}}" method="post">
        
        <div class="select">
            <select name="session_no" id="session_no" required>
                <option value="" disabled selected hidden>select session</option>
                <option th:each="no:${session_nos}" th:value="${no}" th:text="${no}"></option>
            </select><br>
        </div>
        <div class="button">
            <input type="submit">
        </div>
    </form>
   </div>
   <div class="res">
        <div class="id">
            <div class="info row">
                <p>Name: [[${stu.getName()}]]</p>
            </div>
            <div class="info row">
                <p>SRN: [[${stu.getSRN()}]]</p>
            </div>
            <div class="info row">
                <p>Class: [[${class_.get("class_no")}]]-[[${class_.get("section_no")}]]</p>
            </div>    
        </div>
        <div class="marks">
        <table>
           
            
            <thead>
                <td>course</td>
                <td>marks</td>
                <td>grade</td>
            </thead>
            <tr th:each="mark:${marks}">
                <td>[[${mark.get("course")}]]</td>
                <td>[[${mark.get("marks")}]]</td>
                <td th:if="${mark.get('marks')>80}">A</td>
                <td th:if="${mark.get('marks')>60 and mark.get('marks')<=80}">B</td>
                <td th:if="${mark.get('marks')>40 and mark.get('marks')<=60}">C</td>
                <td th:if="${mark.get('marks')>20 and mark.get('marks')<=40}">D</td>
                <td th:if="${mark.get('marks')<=20}">E</td>
            </tr>

        </table>
       </div>
        <div class="percentage">
            <p>Total Percentage:  [[${percentage}]]</p>
        </div>
   </div>
    <footer th:replace="components/footer :: footer"></footer>

</body>
</html>