<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Student Edit</title>
	<link rel="stylesheet" href="/styles/stuinsert.css">
	<link rel="stylesheet" href="/bootstrap/bootstrap.css">
	<script href="/bootstrap/bootstrap.js"></script>
</head>
<body>
	<nav th:replace="components/navbar :: navbar"></nav>
	<br>
	
	<h2 style="text-align: center; color: crimson; margin-bottom: 12px;" th:if="${message!=null}">[[${message}]] </h2>
	<div class="content">
		<div class="container">
			<div class="form_container">
				<h2>Student Edit Form</h2>
				<h4>Please Fill Student Details Properly</h4>
				<form th:action="@{'/student/edit/'+${stu.getUID()}}" method="post">
					<div margin="10px"></div>
					<h5 padding-left="10px">Personel details</h5>
					<div class="block">
						<div class="form-floating col-md-4 my_input">
							
							<input type="text" class="form-control" id="Std_name" name="std_name" placeholder="Name" required th:value="${stu.getName()}"><br>
							<label for="Name">Name</label>
						</div>
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_gender" name="std_gender" placeholder="Gender" th:value="${stu.getGender()}"><br>
							<label for="Gender">Gender</label>
					    </div>
						<div class="form-floating col-md-4 my_input">	
							<input type="text" class="form-control" id="Std_bg" name="std_bg" placeholder="Blood Group" th:value="${stu.getBlood_grp()}"><br>
							<label for="Blood Group">Blood Group</label>
					    </div>
					</div>
					<div class="block">	
						<div class="form-floating col-md-4 my_input">
							<input type="date" class="form-control" id="Std_dob" name="std_dob" placeholder="DOB" required th:value="${stu.getDOB()}"><br>
							<label for="DOB">Date of Birth</label>
					    </div>
						<div class="form-floating col-md-4 my_input">
							<input type="date" class="form-control" id="Std_date" name="std_date" placeholder="Admission Date" required th:value="${stu.getAdmission_date()}"><br>
							<label for="Admission Date">Admission Date</label>
						</div>
					</div>
					<div class="block">	
						<div class="form-floating col-md-4 my_input">
						    <input type="text" class="form-control" id="Std_aadhar" name="std_aadhar" placeholder="Aadhar Number" required th:value="${stu.getAadhar_no()}"><br>
							<label for="Aadhar Number">Aadhar Number</label>
					    </div>
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_mother" name="std_mother" placeholder="Mother" th:value="${stu.getMother()}"><br>
							<label for="Mother">Mother</label>
					    </div>
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_guardian" name="std_guardian" placeholder="Guardian" required th:value="${stu.getGuardian()}"><br>
							<label for="Guardian">Father/Gaurdian</label>
					    </div>
					</div>
					<div class="block">
						<div class="form-floating col-md-4 my_input">
							<input type="email" class="form-control" id="Std_email" name="std_email" placeholder="Email" required th:value="${stu.getEmail()}"><br>
							<label for="Email">Email</label>
					    </div>	
						<div class="form-floating col-md-4 my_input">
							<select name="std_class"  class="form-control" id="Std_class" required>
								<option th:value="${stu.getClass_no()}"  selected hidden>[[${stu.getClass_no()}]]</option>
								<option th:each="cls:${class}" th:value="${cls}" th:text="${cls}"></option>
							</select><br>
							<label for="Class">Class</label>
						</div>
						<div class="form-floating col-md-4 my_input">
							<select name="std_section" class="form-control" id="Std_section" required>
								<option th:value="${stu.getSection_no()}"  selected hidden>[[${stu.getSection_no()}]]</option>
								<option th:each="sec:${section}" th:value="${sec}" th:text="${sec}"></option>
							</select><br>
							<label for="Section">Select Section</label>
					    </div>	
					
				    </div>
					<h5>Contact Details</h5>
					<div class="block">
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_phone1" name="std_phone1" placeholder="Phone1" required th:value="${stu.getPhone_1()}"><br>
							<label for="Phone">Phone Number</label>
                        </div>
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_phone2" name="std_phone2" placeholder="Phone2" th:value="${stu.getPhone_2()}"><br>
							<label for="Phone">Second Phone Number</label>
					    </div>
				    </div>
					<h5>Address</h5>
					<div class="block">
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_street" name="std_street" placeholder="Address:Street" th:value="${stu.getStreet()}"><br>
							<label for="Street">Street</label>
					    </div>
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_city" name="std_city" placeholder="Address:City" th:value="${stu.getCity()}"><br>
							<label for="city">City</label>
						</div>
						<div class="form-floating col-md-4 my_input">
							<input type="text" class="form-control" id="Std_state" name="std_state" placeholder="Address:State" th:value="${stu.getState()}"><br>
							<label for="State">State</label>
						</div>	
					</div>
					<div class="block">
						<div class="form-floating col-md-4 my_input">
							<input type="number" class="form-control" id="Std_pin" name="std_pin" placeholder="PIN" th:value="${stu.getPIN()}"><br>
							<label for="PIN">PIN</label>
						</div>	

					</div>	
					<div class="form-floating col-md-4 my_input">
						<input type="text" class="form-control" id="Std_photo" name="std_photo" placeholder="Photo" th:value="${stu.getPhoto()}"+><br>
					</div>	
					<div class="my_button">
						
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>	
				</form>
			</div>	
		</div>	
	</div>	
</body>
</html>