<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/list.css}">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <script href="/bootstrap/bootstrap.js"></script>
    <title>Student List</title>
</head>

<body>
    <div>
        <nav th:replace="components/navbar :: navbar"></nav>
        <div class="insert_button">
            <a href="#" th:href="@{/student/add}">Insert</a><br>
        </div>
        <h3 th:if="${message!=null}">[[${message}]]</h3>
        <br>
        <div class="content">
            <div class="list">
                <form th:action="@{/student/list}" method="Post">
                    <input type="number" id="St_SRN" name="St_SRN" placeholder="Student ID">
                    <input type="text" id="St_name" name="St_name" placeholder="Student Name">
                    <select name="class_" id="St_class">
                        <option value="">Select Class</option>
                        <option th:each="cls:${class}" th:value="${cls}" th:text="${cls}"></option>
                    </select>
                    <select name="section" id="St_section">
                        <option value="">Select Section</option>
                        <option th:each="sec:${section}" th:value="${sec}" th:text="${sec}"></option>
                    </select>
                    <input type="number" id="Emp_id" name="Emp_id" placeholder="Teacher ID">
                    <select name="limit" id="limit" required>
                        <option value="" disabled selected hidden>Select limit</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select><br>
                    <input type="submit" class="submit_button">

                </form>
            </div>
            <div class="details_table">
                <table>
                    <thead>
                        <td>Registration No.</td>
                        <td>Name</td>
                        <td>Contact info</td>
                        <td>Class</td>
                        <td colspan="3">Actions</td>
                    </thead>
                    <tr th:each="stud : ${students}">
                        <td>[[${stud.get("SRN")}]]</td>
                        <td class="highlight"><a
                                th:href="'/student/profile/'+${stud.get('UID')}">[[${stud.get("name")}]]</a></td>
                        <td>[[${stud.get("phone_1")}]]</td>
                        <td>[[${stud.get("class_no")}]]-[[${stud.get("section_no")}]]</td>
                        <td class="button"> <a th:href="'/student/results/'+${stud.get('UID')}">Results</a> </td>
                        <td class="button"> <a th:href="'/staff/student/delete'+${stud.get('UID')}"
                                onclick="return confirmSubmission()">Transfer</a></td>
                        <td class="button"><a th:href="@{'/student/edit/'+${stud.get('UID')}}">Edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="components/footer :: footer"></footer>
    <script>
        var confirmSubmission = function () {
            if (!confirm("Confirm student transfer?")) {
                return false;
            }
            return true;
        }
    </script>
</body>

</html>