<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student_List</title>
</head>
<body>
<form th:action="@{/filter}" method="get">
    <label for="St_SRN">Student Id</label>
    <input type="text" id="St_SRN">
    <label for="St_name">Student Name</label>
    <input type="text" id="St_name">
    <label for="St_class">Class</label>
    <select name="class" id="St_class">
        <option value="choose">all</option>
        <option th:each="cls:${class}" th:value="${cls}" th:text="${cls}"></option>
    </select>
    <label for="St_section">Section</label>
    <select name="section" id="St_section">
        <option value="choose">all</option>
        <option th:each="sec:${section}" th:value="${sec}" th:text="${sec}"></option>
    </select>
    <label for="Emp_id">Teacher Id</label>
    <input type="text" id="Emp_id">
    <label for="limit">Limit</label>
    <select name="limit" id="limit">
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
    </select>
    <input type="submit">
</form>
</body>
</html>