<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles/login.css}">

<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
</head>
<div th:if="${param.error}">
    <h4 style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
</div>

<body>

    <div class="card">
        <div class="head">
            <h1>Student Login</h1>
        </div>
        <div class="card2">
            <form th:action="@{/student/login}" method="post">
                <input type="text" placeholder="UID" name="UID" required>
                <br>
                <input type="password" placeholder="password" name="password" required >
                <br>
                <input type="submit" value="login" class="button">
            </form>
        </div>
    </div>


</body>

</html>